<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700|Space+Mono:400,700" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="shortcut icon" type="image/png" href="favicon.png" />

        <script language="javascript" src="js/3rd-party/jquery.min.js"></script>
        <script language="javascript" src="js/3rd-party/angular.min.js"></script>

        <script language="javascript" src="js/main.js" /></script>

        <script language="javascript" src="js/coins.js" /></script>
        <script language="javascript" src="js/price.js" /></script>
        <script language="javascript" src="js/preprocessor.js" /></script>
        <script language="javascript" src="js/stream.js" /></script>

        <title>FreshGRLC.NET Allium Blockchain Indexing Services</title>
    </head>
    <body ngCloak onLoad="explorer.init();">
        <div id="banner">
            <h1><span class="service">Explorer</span>.FreshGRLC.NET</h1>
            <h2>Allium Blockchain Indexing Services</h2>
            <div id="search">
                Search: <input id="searchbar" placeholder="Enter an address, block height or transaction ID" />
            </div>
        </div>

        <div id="layout">
            <div class="coinsummary grlc" ng-app="coin-grlc">
                <div class="summary" ng-controller="summary" ng-init="showMoreDetails = false">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3" class="title">
                                    <img ng-src="{{coin.logo}}" /> <span class="symbol">{{coin.ticker}}</span> - {{coin.name}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="stat">
                                <th>Latest block</th>
                                <td>
                                    <div class="celltitle">Height</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="chain.lastblock.height != null" />
                                    <span ng-hide="chain.lastblock.height == null">
                                    {{chain.lastblock.height}}
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Received at</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="chain.lastblock.firstseen != null" />
                                    <span ng-hide="chain.lastblock.firstseen == null">
                                    {{chain.lastblock.firstseen}}
                                    </span>
                                </td>
                            </tr>
                            <tr class="stat">
                                <th>Difficulty</th>
                                <td>
                                    <div class="celltitle">Network</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="chain.lastblock.difficulty != null" />
                                    <span ng-hide="chain.lastblock.difficulty == null">
                                    {{chain.lastblock.difficulty}}
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Adjusted (50 coins/min)</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="chain.lastblock.adjustedDifficulty != null" />
                                    <span ng-hide="chain.lastblock.adjustedDifficulty == null">
                                    {{chain.lastblock.adjustedDifficulty}}
                                    </span>
                                </td>
                            </tr>
                            <tr ng-hide="showMoreDetails">
                                <td colspan="3" class="vertmore"><input type="button" value="&darr; More statistics &darr;" ng-click="moreDetails()"/></td>
                            </tr>
                            <tr class="stat" ng-hide="!showMoreDetails">
                                <th>24 hour activity</th>
                                <td>
                                    <div class="celltitle">Transactions</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.daily.transactions.amount != null" />
                                    <span ng-hide="stats.daily.transactions.amount == null">
                                    {{stats.daily.transactions.amount}} <span class="suffix">transactions</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Total value</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.daily.transactions.totalvalue != null" />
                                    <span ng-hide="stats.daily.transactions.totalvalue == null">
                                    {{stats.daily.transactions.totalvalue}} <span class="suffix">{{coin.ticker}}</span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="stat" ng-hide="!showMoreDetails">
                                <th>24 hours mining stats</th>
                                <td>
                                    <div class="celltitle">Blocks mined</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.daily.blocks.amount != null" />
                                    <span ng-hide="stats.daily.blocks.amount == null">
                                    {{stats.daily.blocks.amount}} <span class="suffix">blocks</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Generated wealth</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.daily.miningreward.usd != null" />
                                    <span ng-hide="stats.daily.miningreward.usd == null">
                                    <span class="suffix">$</span> {{stats.daily.miningreward.usd}}
                                    </span>
                                </td>
                            </tr>
                            <tr class="stat" ng-hide="!showMoreDetails">
                                <th>Decentralization</th>
                                <td>
                                    <div class="celltitle">Controlling 50%</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="pools.hashratecontrol.numberrequiredfor50percent != null" />
                                    <span ng-hide="pools.hashratecontrol.numberrequiredfor50percent == null">
                                    {{pools.hashratecontrol.numberrequiredfor50percent}} <span class="suffix">pools</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Controlling 90%</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="pools.hashratecontrol.numberrequiredfor90percent != null" />
                                    <span ng-hide="pools.hashratecontrol.numberrequiredfor90percent == null">
                                    {{pools.hashratecontrol.numberrequiredfor90percent}} <span class="suffix">pools</span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="stat" ng-hide="!showMoreDetails">
                                <th>Average blocktime</th>
                                <td>
                                    <div class="celltitle">Last 5000 blocks</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.blocktime.last5000blocks != null" />
                                    <span ng-hide="stats.blocktime.last5000blocks == null">
                                    {{stats.blocktime.last5000blocks}} <span class="suffix">seconds</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Last 50000 blocks</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.blocktime.last50000blocks != null" />
                                    <span ng-hide="stats.blocktime.last50000blocks == null">
                                    {{stats.blocktime.last50000blocks}} <span class="suffix">seconds</span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="stat" ng-hide="!showMoreDetails">
                                <th>Coin value</th>
                                <td>
                                    <div class="celltitle">In crypto</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="price.sats != null" />
                                    <span ng-hide="price.sats == null">
                                    {{price.sats}} <span class="suffix">Satoshis</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">In fiat</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="price.usd_cents != null" />
                                    <span ng-hide="price.usd_cents == null">
                                    {{price.usd_cents}} <span class="suffix">USD &cent;</span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="stat" ng-hide="!showMoreDetails">
                                <th>Network totals</th>
                                <td>
                                    <div class="celltitle">All-time transactions</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.all.transactions.amount != null" />
                                    <span ng-hide="stats.all.transactions.amount == null">
                                    {{stats.all.transactions.amount}} <span class="suffix">transactions</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Coins released (est.)</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.all.blocks.amount != null && coin.blockReward != null" />
                                    <span ng-hide="stats.all.blocks.amount == null || coin.blockReward == null">
                                    {{stats.all.blocks.amount * coin.blockReward}} <span class="suffix">{{coin.ticker}}</span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="graphs" ng-hide="!showMoreDetails">
                                <th>Graphs</th>
                                <td>
                                    <a href="#" target="_blank">Block distribution</a>
                                </td>
                                <td>
                                    <a href="#" target="_blank">Network activity</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="live">
                    <h3>Unconfirmed transactions</h3>
                    <table class="transactions" ng-controller="mempool">
                        <thead>
                            <tr>
                                <th>Transaction ID</th>
                                <th>Relayed at</th>
                                <th>Size</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tx in transactions">
                                <td><a href="#">{{tx.shortenedtxid}}</a></td>
                                <td>{{tx.firstseen}}</td>
                                <td>{{tx.size.raw}}</td>
                                <td>{{tx.totalvalue.major}}.<span class="suffix">{{tx.totalvalue.minor}} {{coin.ticker}}</span></td>
                            </tr>
                            <tr class="noentries" ng-hide="transactions.length > 0">
                                <td colspan="4">All transactions are confirmed.</td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-controller="blocks">
                        <h3>Recent blocks</h3>
                        <p class="headercontext">
                            <a href="#">Browse all blocks</a>
                        </p>

                        <div style="width: 100%; text-align: center; margin: 0px auto;" ng-hide="blocks != null">
                            <img src="loading.gif" style="width: 20px; height: 20px;" />
                        </div>
                        <div class="blockcontainer" ng-repeat="block in blocks">
                            <table class="block">
                                <thead>
                                    <tr>
                                        <th colspan="5" class="title">Block <a href="#" class="blockhash">{{block.hash}}</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="stat">
                                        <td style="width: 70px;">
                                            <div class="celltitle">Height</div>
                                            {{block.height}}
                                        </td>
                                        <td style="width: 100px;">
                                            <div class="celltitle">Transactions</div>
                                            {{block.transactions.length}}
                                        </td>
                                        <td style="width: 140px;">
                                            <div class="celltitle">Total value</div>
                                            {{block.totalvalue.major}}.<span class="suffix">{{block.totalvalue.minor}} {{coin.ticker}}</span>
                                        </td>
                                        <td style="width: 205px;">
                                            <div class="celltitle">Mined by</div>
                                            <span ng-hide="block.miner.website">{{block.miner.name}}</span>
                                            <span ng-hide="!block.miner.website"><a href="{{block.miner.website}}" target="_blank">{{block.miner.name}}</a></span>
                                        </td>
                                        <td style="width: 140px;">
                                            <div class="celltitle">Timestamp</div>
                                            {{block.timestamp}}
                                        </td>
                                    </tr>
                                    <tr class="stat">
                                        <td>
                                            <div class="celltitle">Size</div>
                                            {{block.size.formatted}}
                                        </td>
                                        <td>
                                            <div class="celltitle">Difficulty</div>
                                            {{block.difficulty}}
                                        </td>
                                        <td>
                                            <div class="celltitle">Miner fee</div>
                                            {{block.totalfee.raw}} <span class="suffix">{{coin.ticker}}</span>
                                        </td>
                                        <td>
                                            <div class="celltitle">Relayed by</div>
                                            {{block.relayedby}}
                                        </td>
                                        <td>
                                            <div class="celltitle">Relayed at</div>
                                            {{block.firstseen}}
                                        </td>
                                    </tr>
                                    <tr class="blocktransactions">
                                        <td colspan="5">
                                            <table class="transactions">
                                                <thead>
                                                    <tr>
                                                        <th>Transaction ID</th>
                                                        <th>Confirmed after</th>
                                                        <th>Size</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="tx in block.transactions">
                                                        <td><a href="#">{{tx.shortenedtxid}}</a></td>
                                                        <td ng-hide="tx.coinbase">{{tx.confirmationtime}}</td>
                                                        <td ng-hide="!tx.coinbase"><i>(Coinbase)</i></td>
                                                        <td>{{tx.size.raw}}</td>
                                                        <td>{{tx.totalvalue.major}}.<span class="suffix">{{tx.totalvalue.minor}} {{coin.ticker}}</span></td>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="blockconnector"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="coinsummary tux" ng-app="coin-tux">
                <div class="summary" ng-controller="summary" ng-init="showMoreDetails = false">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3" class="title">
                                    <img ng-src="{{coin.logo}}" /> <span class="symbol">{{coin.ticker}}</span> - {{coin.name}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="stat">
                                <th>Latest block</th>
                                <td>
                                    <div class="celltitle">Height</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="chain.lastblock.height != null" />
                                    <span ng-hide="chain.lastblock.height == null">
                                    {{chain.lastblock.height}}
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Received at</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="chain.lastblock.firstseen != null" />
                                    <span ng-hide="chain.lastblock.firstseen == null">
                                    {{chain.lastblock.firstseen}}
                                    </span>
                                </td>
                            </tr>
                            <tr class="stat">
                                <th>Difficulty</th>
                                <td>
                                    <div class="celltitle">Network</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="chain.lastblock.difficulty != null" />
                                    <span ng-hide="chain.lastblock.difficulty == null">
                                    {{chain.lastblock.difficulty}}
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Adjusted (50 coins/min)</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="chain.lastblock.adjustedDifficulty != null" />
                                    <span ng-hide="chain.lastblock.adjustedDifficulty == null">
                                    {{chain.lastblock.adjustedDifficulty}}
                                    </span>
                                </td>
                            </tr>
                            <tr ng-hide="showMoreDetails">
                                <td colspan="3" class="vertmore"><input type="button" value="&darr; More statistics &darr;" ng-click="moreDetails()"/></td>
                            </tr>
                            <tr class="stat" ng-hide="!showMoreDetails">
                                <th>24 hour activity</th>
                                <td>
                                    <div class="celltitle">Transactions</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.daily.transactions.amount != null" />
                                    <span ng-hide="stats.daily.transactions.amount == null">
                                    {{stats.daily.transactions.amount}} <span class="suffix">transactions</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Total value</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.daily.transactions.totalvalue != null" />
                                    <span ng-hide="stats.daily.transactions.totalvalue == null">
                                    {{stats.daily.transactions.totalvalue}} <span class="suffix">{{coin.ticker}}</span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="stat" ng-hide="!showMoreDetails">
                                <th>24 hours mining stats</th>
                                <td>
                                    <div class="celltitle">Blocks mined</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.daily.blocks.amount != null" />
                                    <span ng-hide="stats.daily.blocks.amount == null">
                                    {{stats.daily.blocks.amount}} <span class="suffix">blocks</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Generated wealth</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.daily.miningreward.usd != null" />
                                    <span ng-hide="stats.daily.miningreward.usd == null">
                                    <span class="suffix">$</span> {{stats.daily.miningreward.usd}}
                                    </span>
                                </td>
                            </tr>
                            <tr class="stat" ng-hide="!showMoreDetails">
                                <th>Decentralization</th>
                                <td>
                                    <div class="celltitle">Controlling 50%</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="pools.hashratecontrol.numberrequiredfor50percent != null" />
                                    <span ng-hide="pools.hashratecontrol.numberrequiredfor50percent == null">
                                    {{pools.hashratecontrol.numberrequiredfor50percent}} <span class="suffix">pools</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Controlling 90%</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="pools.hashratecontrol.numberrequiredfor90percent != null" />
                                    <span ng-hide="pools.hashratecontrol.numberrequiredfor90percent == null">
                                    {{pools.hashratecontrol.numberrequiredfor90percent}} <span class="suffix">pools</span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="stat" ng-hide="!showMoreDetails">
                                <th>Average blocktime</th>
                                <td>
                                    <div class="celltitle">Last 5000 blocks</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.blocktime.last5000blocks != null" />
                                    <span ng-hide="stats.blocktime.last5000blocks == null">
                                    {{stats.blocktime.last5000blocks}} <span class="suffix">seconds</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Last 50000 blocks</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.blocktime.last50000blocks != null" />
                                    <span ng-hide="stats.blocktime.last50000blocks == null">
                                    {{stats.blocktime.last50000blocks}} <span class="suffix">seconds</span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="stat" ng-hide="!showMoreDetails">
                                <th>Coin value</th>
                                <td>
                                    <div class="celltitle">In crypto</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="price.sats != null" />
                                    <span ng-hide="price.sats == null">
                                    {{price.sats}} <span class="suffix">Satoshis</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">In fiat</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="price.usd_cents != null" />
                                    <span ng-hide="price.usd_cents == null">
                                    {{price.usd_cents}} <span class="suffix">USD &cent;</span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="stat" ng-hide="!showMoreDetails">
                                <th>Network totals</th>
                                <td>
                                    <div class="celltitle">All-time transactions</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.all.transactions.amount != null" />
                                    <span ng-hide="stats.all.transactions.amount == null">
                                    {{stats.all.transactions.amount}} <span class="suffix">transactions</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="celltitle">Coins released (est.)</div>
                                    <img src="loading.gif" style="width: 20px; height: 20px;" ng-hide="stats.all.blocks.amount != null && coin.blockReward != null" />
                                    <span ng-hide="stats.all.blocks.amount == null || coin.blockReward == null">
                                    {{stats.all.blocks.amount * coin.blockReward}} <span class="suffix">{{coin.ticker}}</span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="graphs" ng-hide="!showMoreDetails">
                                <th>Graphs</th>
                                <td>
                                    <a href="#" target="_blank">Block distribution</a>
                                </td>
                                <td>
                                    <a href="#" target="_blank">Network activity</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="live">
                    <h3>Unconfirmed transactions</h3>
                    <table class="transactions" ng-controller="mempool">
                        <thead>
                            <tr>
                                <th>Transaction ID</th>
                                <th>Relayed at</th>
                                <th>Size</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tx in transactions">
                                <td><a href="#">{{tx.shortenedtxid}}</a></td>
                                <td>{{tx.firstseen}}</td>
                                <td>{{tx.size.raw}}</td>
                                <td>{{tx.totalvalue.major}}.<span class="suffix">{{tx.totalvalue.minor}} {{coin.ticker}}</span></td>
                            </tr>
                            <tr class="noentries" ng-hide="transactions.length > 0">
                                <td colspan="4">All transactions are confirmed.</td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-controller="blocks">
                        <h3>Recent blocks</h3>
                        <p class="headercontext">
                            <a href="#">Browse all blocks</a>
                        </p>

                        <div style="width: 100%; text-align: center; margin: 0px auto;" ng-hide="blocks != null">
                            <img src="loading.gif" style="width: 20px; height: 20px;" />
                        </div>
                        <div class="blockcontainer" ng-repeat="block in blocks">
                            <table class="block">
                                <thead>
                                    <tr>
                                        <th colspan="5" class="title">Block <a href="#" class="blockhash">{{block.hash}}</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="stat">
                                        <td style="width: 70px;">
                                            <div class="celltitle">Height</div>
                                            {{block.height}}
                                        </td>
                                        <td style="width: 100px;">
                                            <div class="celltitle">Transactions</div>
                                            {{block.transactions.length}}
                                        </td>
                                        <td style="width: 140px;">
                                            <div class="celltitle">Total value</div>
                                            {{block.totalvalue.major}}.<span class="suffix">{{block.totalvalue.minor}} {{coin.ticker}}</span>
                                        </td>
                                        <td style="width: 205px;">
                                            <div class="celltitle">Mined by</div>
                                            <span ng-hide="block.miner.website">{{block.miner.name}}</span>
                                            <span ng-hide="!block.miner.website"><a href="{{block.miner.website}}" target="_blank">{{block.miner.name}}</a></span>
                                        </td>
                                        <td style="width: 140px;">
                                            <div class="celltitle">Timestamp</div>
                                            {{block.timestamp}}
                                        </td>
                                    </tr>
                                    <tr class="stat">
                                        <td>
                                            <div class="celltitle">Size</div>
                                            {{block.size.formatted}}
                                        </td>
                                        <td>
                                            <div class="celltitle">Difficulty</div>
                                            {{block.difficulty}}
                                        </td>
                                        <td>
                                            <div class="celltitle">Miner fee</div>
                                            {{block.totalfee.raw}} <span class="suffix">{{coin.ticker}}</span>
                                        </td>
                                        <td>
                                            <div class="celltitle">Relayed by</div>
                                            {{block.relayedby}}
                                        </td>
                                        <td>
                                            <div class="celltitle">Relayed at</div>
                                            {{block.firstseen}}
                                        </td>
                                    </tr>
                                    <tr class="blocktransactions">
                                        <td colspan="5">
                                            <table class="transactions">
                                                <thead>
                                                    <tr>
                                                        <th>Transaction ID</th>
                                                        <th>Confirmed after</th>
                                                        <th>Size</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="tx in block.transactions">
                                                        <td><a href="#">{{tx.shortenedtxid}}</a></td>
                                                        <td ng-hide="tx.coinbase">{{tx.confirmationtime}}</td>
                                                        <td ng-hide="!tx.coinbase"><i>(Coinbase)</i></td>
                                                        <td>{{tx.size.raw}}</td>
                                                        <td>{{tx.totalvalue.major}}.<span class="suffix">{{tx.totalvalue.minor}} {{coin.ticker}}</span></td>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="blockconnector"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
