@font-face {
    font-family: 'TeX Gyre Schola';
    font-style: normal;
    src: url('fonts/texgyreschola-regular.otf') format('opentype');
}

@font-face {
    font-family: 'TeX Gyre Schola';
    font-style: italic;
    src: url('fonts/texgyreschola-italic.otf') format('opentype');
}

