#layout {
    width: 100%;
    overflow: hidden;
}

.coinsummary {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin: 0px 2.4%;
}

.grlc {
}

.tux {
}

.coinsummary div {
    margin: 20px 0px;
    display: block;
}
